torselden-python/Day03/__pycache__/day03.cpython-36.pyc
torselden-python/Day03/__pycache__/test_day03.cpython-36.pyc
torselden-python/Day04/__pycache__/test_day03.cpython-36.pyc
torselden-python/Day04/__pycache__/test_day04.cpython-36.pyc
torselden-python/Day05/__pycache__/day05.cpython-36.pyc
torselden-python/Day05/__pycache__/test_day05.cpython-36.pyc
torselden-python/Day04/__pycache__/day03.cpython-36.pyc
torselden-python/Day04/__pycache__/day04.cpython-36.pyc
